/*  пк  */
@media (max-width: 1057px){
	[class*="container"]{
		max-width: 970px;
	}

	.swiper{
		grid: 2;
	}
}

/*  планшет  */
@media (max-width: 991.98px){
	[class*="container"]{
		max-width: 750px;
	}

	.block__specific__contents{
		grid-template-columns: 1fr !important;
	}
}

/*  телефон  */
@media (max-width: 767.98px){
	[class*="container"]{
		max-width: none !important;
		padding: 0 20px !important;
	}

	.menu__body{
		width: 100% !important;
		margin: 0 !important;
	}
	.menu__list{
		justify-content: space-between !important;
	}
	.menu__link{
		font-size: 15px !important;
	}

	.menu__link--active{
		font-weight: 700 !important;
		font-size: 15px !important;
	}

	.block__info{
		padding-top: 25px !important;
	}

	.block__specific__contents{
		padding-top: 10px !important;
	}
	.block__specific__title{
		font-weight: 600 !important;
		text-transform: none !important;
		font-size: 15px !important;
	}

	.where__contents{
		padding-top: 30px !important;
	}
	.where__info{
		width: 100% !important;
		max-width: none !important;
	}

	.info__image{
		width: 100%;
	}

	.info__btn{
		color: #043E44 !important;
		border: 0.5px solid #043E44 !important;
		font-size: 15px !important;
	}

	.info__btns{
		flex-wrap: wrap !important;
		margin-top: 25px !important;
	}

	.reviews__content{
		padding-top: 30px !important;
	}
}